{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="page page-center">
        <div class="container container-tight py-4">

            <div class="text-center mb-4">
                <h1 class="h2">Créer un compte</h1>
            </div>

            <div class="card card-md">
                <div class="card-body">

                    {{ form_errors(registrationForm) }}

                    {{ form_start(registrationForm) }}

                    <div class="mb-3">
                        {{ form_row(registrationForm.firstName, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="mb-3">
                        {{ form_row(registrationForm.lastName, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="mb-3">
                        {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="mb-3">
                        {{ form_row(registrationForm.plainPassword, {
                            'label': 'Mot de passe',
                            'attr': {'class': 'form-control'}
                        }) }}
                        <small class="form-hint">
                            Pour votre sécurité, votre mot de passe sera <strong>systématiquement haché</strong> avant d'être enregistré.
                        </small>
                    </div>

                    <div class="mb-3">
                        {{ form_row(registrationForm.agreeTerms, {
                            'label': 'J’accepte que mes données soient traitées conformément à la <a href="' ~ path('app_privacy_policy') ~ '" target="_blank">politique de confidentialité</a>',
                            'label_html': true
                        }) }}
                    </div>

                    <button type="submit" class="btn btn-primary w-100">
                        S'inscrire
                    </button>

                    {{ form_end(registrationForm) }}

                </div>
            </div>

        </div>
    </div>
{% endblock %}
